*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif, "Material Icons";
  user-select: none;
}

@import "../scss/_lightbox";
@import "../scss/_modal";
